:root{
    --cor0: #166088;
    --cor1: #3581b8;
    --cor2: #878787;
    --cor3: #cacaca;
    --cor4: #202022;
    --cor5: black;
    --cor6: white;

    --font:     font-family: Arial, Helvetica, sans-serif;;
}
*{
    margin: 0px;
    padding: 0PX;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
}

a{
    text-decoration: none;
    color: var(--cor6);
} 

/*Cabecalho*/

.header{
    background-color: var(--cor0);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.header p{
    color: var(--cor6);
}
.menu{
    display: flex;
}
.menu li{
    margin-left: 20px;
}
.menu li a{
    display: block;
    color: var(--cor6);
    padding: 5px;
    text-decoration: none;
}
.menu li a:hover{
    background-color: var(--cor6);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 6px;
    color: var(--cor5);
    /*Colocar uma tag para fichar o hover a menos que seja clicado em uma outra lista*/
}

.bg{
    background-image: url('../imagens/Home.jpg'); /* Adicione o caminho da sua imagem */
    background-size: cover; /* Cobre toda a área da div com a imagem */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura total da tela */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    text-align: center; /* Centraliza o texto */
    color: white; /* Cor do texto */
    padding: 20px;
}
h4{
    text-align: center;
    font-size: larger;
    padding: 100px;
    align-items: center;
    text-shadow: var(--cor5) 1px 1px 2px;
    font-size: 1.5rem;
    color: var(--cor6);
}

h1{
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 30px;
}
.paragrafo{
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 16px;
}
h2{
    text-align: center;

    margin: 70px;
}
img{
    max-width: 100%;
    display: block; 
}
.flex h3{
    text-align: center;
    padding: 10px;
    color: black;
    
}
.flex p{
    padding: 7px;
    font-size: 16px;
    color: black;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}
.flex > div{
    flex: 1 1 200px;
    margin: 10px;
    box-shadow: black 0.1px 0.1px 2px;
    border-radius: 3px;
}
.flex div:hover{
    box-shadow: black -1px -1px 10px;
    margin: 1px;
}

/*Inscricao para Newslatter*/
.line-footer1{

    margin-top: 20px;
    justify-items: center;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.534) 0px 0px 4px;
}

.line-footer1 h2 {
    font-size: 1.6rem;
    margin-bottom: 10px;
    color: var(--cor0);
    padding: 10px;
    text-shadow: rgba(0, 0, 0, 0.849) 0px 0px 1px;
}

.line-footer1 p {
    margin-bottom: 15px;
}

.line-footer1 input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    border: solid 1px;
    border-color: black;
}
.line-footer1 input[type="email"]:hover{
    box-shadow: black 1px 1px 5px;
}

.line-footer1 input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--cor6);
    color: var(--cor5);
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.line-footer1 input[type="submit"]:hover{
    padding: 12px 22px;
    background-color: var(--cor6);
    color: var(--cor5);
    box-shadow: black 1px 1px 5px;
    border: black 1px;
    background-color: var(--cor1);
    color: var(--cor6);
}

/* Rodape */

.footer {
    padding: 20px;
    background-image: linear-gradient(to right, var(--cor0), var(--cor1));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interface {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}

.rodape {
    flex: 1;
    padding: 20px;
    min-width: 200px;
}

.paginas, .genericas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    margin: 5px 0;
    font-size: 16px;
    color: var(--cor6);
    text-decoration: none;
}

.footer a:hover {
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor3), var(--cor6));
    border-radius: 4px;
    padding: 4px;
}

.redes .media ul {
    display: flex;
    padding: 0;
    list-style: none;

}

.media ul li {
    margin: 0 10px;
}

.media ul li a {
    display: inline-block;
}

.direito {
    padding: 10px 0;
    font-size: 16px;
    color: var(--cor6);
}


@media (max-width: 768px) {

    /* Ajustes no header */
    .header {
        font-size: 16px;
        padding: 10px;
    }

    .menu li {
        margin-left: 10px; /* Diminui o espaçamento entre itens do menu */
    }

    /* Ajustes na imagem de fundo */
    .bg {
        background-image: url('../imagens/Home.jpg'); /* Mantém a imagem original */
        background-size: cover; /* Garante que a imagem continue cobrindo a área */
        background-position: center; /* Centraliza a imagem */
        height: 100vh; /* Mantém a altura da imagem */
        padding: 10px;
    }

    .bg h1 {
        font-size: 2em; /* Reduz o tamanho do título para telas pequenas */
        padding: 20px; /* Menor espaçamento para o título em dispositivos móveis */
    }

    .line-footer1 input[type="email"] {
        padding: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
        border: solid 1px;
        border-color: black;
    }
    
    .line-footer1 input[type="email"]:hover{
        box-shadow: black 1px 1px 5px;
    }
    
    .line-footer1 input[type="submit"] {
        padding: 10px 20px;
        background-color: var(--cor6);
        color: var(--cor5);
        border: solid 1px;
        border-radius: 5px;
        cursor: pointer;
    }
    .line-footer1 input[type="submit"]:hover{
        padding: 12px 22px;
        background-color: var(--cor6);
        color: var(--cor5);
        box-shadow: black 1px 1px 5px;
        border: black 1px;
        background-color: var(--cor1);
        color: var(--cor6);
    }
    
    

    /* Ajustes no footer */
    .footer {
        padding: 20px 10px;
        text-align: center;
    }

    .footer .interface {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .paginas, .footer .genericas, .footer .redes {
        margin-bottom: 15px;
    }

    .footer .media ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .footer .media ul li {
        margin: 0 15px;
    }
}

@media (max-width: 480px) {

        /* Ajustes no header */
        .header {
            font-size: 14px;
            padding: 8px;
        }
    
        .menu li {
            margin-left: 5px; /* Reduz ainda mais o espaçamento */
        }
    
        /* Ajustes na imagem de fundo */
        .bg {
            background-image: url('../imagens/Home.jpg'); /* Mantém a imagem original */
            background-size: cover; /* Garante que a imagem continue cobrindo a área */
            background-position: center; /* Centraliza a imagem */
            height: 550px; /* Ajuste para telas menores */
        }
    
        .bg h1 {
            font-size: 1.1em; /* Ajusta o tamanho do título para dispositivos muito pequenos */
            padding: 10px;
        }
    
            /*Inscricao para Newslatter*/
.line-footer1{
    background-color: #dbdada62;
    margin-top: 20px;
    justify-items: center;
    height: 300px;
}

.line-footer1 h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--cor0);
    padding: 5px;
}

.line-footer1 p {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

.line-footer1 input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    border: solid 1px;
    border-color: black;
}

.line-footer1 input[type="email"]:hover{
    box-shadow: black 1px 1px 5px;
}

.line-footer1 input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--cor6);
    color: var(--cor5);
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.line-footer1 input[type="submit"]:hover{
    padding: 12px 22px;
    background-color: var(--cor6);
    color: var(--cor5);
    box-shadow: black 1px 1px 5px;
    border: black 1px;
    background-color: var(--cor1);
    color: var(--cor6);
}



    
    /* Ajustes no footer */
    .footer {
        padding: 15px 5px;
        font-size: 14px;
    }

    .footer .interface {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer .paginas, .footer .genericas, .footer .redes {
        margin-bottom: 10px;
    }

    .footer .media ul {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .footer .media ul li {
        margin: 0 10px;
    }
} 

@media (max-width: 360px) {
    /* Ajustes no header */
        .header {
            font-size: 14px;
            padding: 8px;
        }
    
        .menu li {
            margin-left: 5px; /* Reduz ainda mais o espaçamento */
        }

    /* Ajustes na imagem de fundo */
    .bg {
        background-image: url('../imagens/Home.jpg'); 
        background-size: cover; 
        background-position: center; 
        height: 400px; 
        padding: 10px;
    }
    .bg h1 {
        font-size: 2em; /* Reduz o tamanho do título para telas pequenas */
        padding: 20px; /* Menor espaçamento para o título em dispositivos móveis */
    }

    .bg h4 {
        font-size: 1rem; 
        padding: 0 5px;
    }

    /* Ajustes no título da seção */
    .apresentacao h1 {
        font-size: 1.2rem;
        padding: 10px;
    }

    .paragrafo {
        font-size: 14px;
        padding: 0 10px;
    }

    .flex{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 800px;
        padding: 10px;

    }
    .flex > div{
        flex: 1 1 200px;
        margin: 10px;
        box-shadow: black 0.1px 0.1px 2px;
        border-radius: 3px;
    }
    .flex div:hover{
        box-shadow: black -1px -1px 10px;
        margin: 1px;
    }


    /*Inscricao para Newslatter*/
.line-footer1{
    background-color: #dbdada62;
    margin-top: 20px;
    justify-items: center;
    height: 260px;
}

.line-footer1 h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--cor0);
    padding: 5px;
}

.line-footer1 p {
    margin-bottom: 10px;
    font-size: 16px;
    padding: 10px;
}

.line-footer1 input[type="email"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    border: solid 1px;
    border-color: black;
}

.line-footer1 input[type="email"]:hover{
    box-shadow: black 1px 1px 5px;
}

.line-footer1 input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--cor6);
    color: var(--cor5);
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
}
.line-footer1 input[type="submit"]:hover{
    padding: 12px 22px;
    background-color: var(--cor6);
    color: var(--cor5);
    box-shadow: black 1px 1px 5px;
    border: black 1px;
    background-color: var(--cor1);
    color: var(--cor6);
}


    /* Ajustes na seção flex */
    .flex {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .flex > div {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .flex img {
        width: 100%;
        height: auto;
    }

}
